<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ข้อมูลนักเรียน 2/4
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label>
    <ion-label>
      รหัสนักเรียน
    </ion-label>
  </ion-label>

 <ion-card>
  <ion-label>รหัสนักเรียน</ion-label>
  <ion-input>

 </ion-input> 
 </ion-card>
 <ion-card>
  <ion-label>ชื่อ-นามสกุล</ion-label>
  <ion-input>

 </ion-input> 
 </ion-card>
 <ion-card>
  <ion-label>อายุ</ion-label>
  <ion-input>

 </ion-input> 
 </ion-card>
 <ion-card>
  <ion-label>เบอรโทรศัพท์</ion-label>
  <ion-input>

 </ion-input> 
 </ion-card>
 <ion-card>
  <ion-label>ที่อยู่</ion-label>
  <ion-input>

 </ion-input> 
 </ion-card> 

</ion-content>